.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.react-datepicker {
  font-size: 0.8rem !important;
}
.react-datepicker__time-container {
  width: 50px !important;
}
.react-datepicker__time-box {
  width: 50px  !important;
}
.react-datepicker__time-box ul.react-datepicker__time-list {
  width: 100%  !important;
}
.li.react-datepicker__time-list-item {
  padding: 5px 0px !important;
}
/*.react-datepicker__current-month {
  font-size: 0.6rem !important;
   *//*width: 0.3rem !important;*//*
}*/

/*.react-datepicker__header {
  padding-top: 6px !important;
}*/
.react-datepicker__day--selected {
  background-color: transparent !important;
  color:#216ba5 !important;
  font-weight: 800 !important;
}
.react-datepicker__navigation {
  top: 13px !important;
  right: 61px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
   width: 0.5rem !important;
}
 .react-datepicker__time{
   width: 0.5rem !important;
}
 .datepicker-button {
   background-color: #dafffd;
 }
 .calendar-buttons{
   font-size: 11px;
  /* padding: 1px;*/
 }

.table td, .table th  {
    padding: .1rem !important;
}

.temperature-OPEN {
    background-color: #fd5f6cdb !important;
}
.temperature-CLOSED {
    background-color: #28a745a6 !important;
}

.inside-happy {
    position: absolute;
    top: 60%;
    left: 28%;
    color: #ffc107;
    font-weight: bold;
    font-size: 13px;
    transform: translate(-50%, -50%);
}
.inside-snoopy {
    position: absolute;
    top: 60%;
    left: 74%;
    color: #ffc107;
    font-weight: bold;
    font-size: 13px;
    transform: translate(-50%, -50%);
}

.outside {
    position: absolute;
    top: 21%;
    left: 50%;
    color: blue;
    font-weight: bold;
    font-size: 13px;
    transform: translate(-50%, -50%);
}
.weather {
    height: 62px;
    width: 100%;
    object-fit: none;
    object-position: 0  100%;
}
