.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.react-datepicker {
  font-size: 0.8rem !important;
}
.react-datepicker__time-container {
  width: 50px !important;
}
.react-datepicker__time-box ul.react-datepicker__time-list {
  width: 50%  !important;
}
.react-datepicker__current-month {
  font-size: 1.1rem !important;
   width: 0.1rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
   width: 0.5rem !important;
}
.react-datepicker__day-name, .react-datepicker__time{
  margin: 0.1rem !important;
   width: 0.5rem !important;
}